body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dfe9f3, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: url("https://img.freepik.com/vector-gratis/fondo-nubes-algodon-azucar-acuarela_23-2149237268.jpg")no-repeat center center / cover;

}

h1 {
  color: #333;
  margin-bottom: 30px;
}

form {
  background-color: #f9f9f9;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

#lista {
  list-style: none;
  padding: 0;
  max-width: 400px;
  width: 100%;
}

#lista li {
  text-align: center;
  position: relative;
  padding: 15px 15px 15px 45px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.08);
  font-size: 16px;
  transition: transform 0.2s ease;
}

#lista li::before {
  align-items: center;
  content: '👤';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
